<form [formGroup]="form" class="login-form">
  <label
    >Email:
    <input
      type="text"
      formControlName="email"
      name="email"
      pInputText
      data-e2e="email"
  /></label>
  <label
    >Hasło:
    <input
      type="password"
      formControlName="password"
      name="password"
      pInputText
      data-e2e="password"
  /></label>
  <button
    pButton
    class="p-button-outlined"
    label="Zaloguj"
    data-e2e="submit"
    [disabled]="!form.valid"
    (click)="login()"
  ></button>
  <a routerLink="/register" class="no-account">Nie posiadasz konta?</a>
</form>
