<form class="add-advertisement-form" *ngIf="form" [formGroup]="form">
  <input-wrapper label="Tytuł">
    <input data-e2e="title" type="text" formControlName="title" pInputText />
  </input-wrapper>
  <input-wrapper label="Opis">
    <textarea
      data-e2e="description"
      formControlName="description"
      [autoResize]="true"
      pInputTextarea
    ></textarea>
  </input-wrapper>
  <input-wrapper label="Cena">
    <p-inputNumber
      data-e2e="price"
      type="number"
      formControlName="price"
      mode="currency"
      currency="PLN"
      [min]="0"
    ></p-inputNumber>
  </input-wrapper>
  <input-wrapper label="Kontakt">
    <input
      data-e2e="contact"
      type="text"
      formControlName="contact"
      placeholder="Numer telefonu lub adres e-mail"
      pInputText
    />
  </input-wrapper>
  <input-wrapper label="Przybliżony adres"
    ><input
      data-e2e="address"
      type="text"
      formControlName="address"
      placeholder="Kod pocztowy, nazwa miasta, ulica"
      pInputText
  /></input-wrapper>
  <input-wrapper label="Zdjęcia" *ngIf="!guid">
    <input
      #fileUpload
      type="file"
      requiredFileType="image/png"
      multiple="true"
      class="file-input"
      (change)="onFileSelected($event)"
    />
    <div class="add-advertisement-form__photos-container">
      <div
        class="add-advertisement-form__photos"
        cdkDropList
        [cdkDropListData]="files"
        (cdkDropListDropped)="drop($event)"
      >
        <span *ngIf="!files.length">{{ "No file uploaded yet." }}</span>
        <div *ngFor="let file of files" class="add-advertisement-photo">
          <span
            cdkDrag
            cdkDragLockAxis="y"
            cdkDragBoundary=".add-advertisement-form__photos"
            >{{ file.file.name }}</span
          >
        </div>
      </div>
      <button
        pButton
        class="upload-button"
        label="Dodaj zdjęcie"
        (click)="fileUpload.click()"
      ></button>
    </div>
  </input-wrapper>
  <button
    data-e2e="submit"
    pButton
    class="p-button-outlined"
    [label]="guid ? 'Edytuj' : 'Dodaj'"
    [disabled]="!form.valid"
    (click)="submit()"
  ></button>
</form>
