<div class="advertisement" *ngIf="advertisement">
  <div class="advertisement__buttons" *ngIf="canEdit || canDelete">
    <button
      *ngIf="canEdit"
      pButton
      class="p-button-outlined"
      label="Edytuj"
      (click)="edit()"
    ></button>
    <button
      *ngIf="canDelete"
      pButton
      class="p-button-outlined"
      label="Usuń"
      (click)="delete()"
    ></button>
  </div>
  <p class="advertisement__head">{{ advertisement.title }}</p>
  <p class="advertisement__price">{{ advertisement.price }} PLN</p>
  <p class="advertisement__description">{{ advertisement.description }}</p>
  <div class="advertisement-additional-info">
    <p class="advertisement-additional-info__contact">
      <span>Kontakt: </span>
      {{ advertisement.contact }}
    </p>
    <p class="advertisement-additional-info__address">
      <span>Adres: </span>{{ advertisement.address }}
    </p>
  </div>
  <carousel cellWidth="100%" [cellsToShow]="1" [loop]="true">
    <div class="carousel-cell" *ngFor="let image of images">
      <img [src]="image" />
    </div>
  </carousel>
</div>
