.advertisement {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__head {
    font-size: 1.2em;
    font-weight: 900;
  }

  &__buttons {
    align-self: end;
    gap: 10px;
    display: flex;
  }
}
.advertisement-additional-info {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  span {
    font-weight: 900;
  }
  p {
    flex: 1;
  }
}
